<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedinUser]="loggedinUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>Qvasar</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li *ngIf="!(loggedinUser)"><a routerLink="/login">●Bejelentkezés</a></li>
                    <li *ngIf="loggedinUser"><a routerLink="/login" (click)="logout()">●Kijelentkezés</a></li>
                    <li *ngIf="!(loggedinUser)"><a routerLink="/signup">●Regisztráció</a></li>
                    <li><a routerLink="/main">●Főoldal</a></li>
                    <li><a routerLink="/shop">●Bolt</a></li>
                    <li><a routerLink="/contact">●Elérhetőség</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>